
.banner-wrapper {
    width: 100%;
    background-color: #0079ad;
    position: relative;
    overflow: hidden;

    .img {
        position: absolute;
        top: 50%;
        left: 50%;
        bottom: 0;
        right:0;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    & > div {
        padding: 120px 0;
        text-align: center;
        position: relative;

        & > div {
          display: inline-block;
          padding: 10px 150px;
          border-radius: 50px;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
        }
    }

    h1 {
        color: #fff;
        margin: 0 0;
        font-family: 'robotobold';
        font-size: 50px;
        text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        -moz-text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        -webkit-text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .banner-list {
        list-style: none;
        padding: 0 0;
        margin:0 0;
        margin-top: 10px;

        & > li {
            display: inline-block;
            font-family: 'robotoregular';
            color: #fff;
            margin-right: 25px;
            font-family: 'bold';
            letter-spacing: 1px;
            position: relative;
            text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            -moz-text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
            -webkit-text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);

            &::after {
                content: '/';
                position: absolute;
                left: calc(100% + 10px);
            }

            &:last-child {
                &::after {
                    content: ' ';
                }
            }
        }
    }
}

.pointer {
    cursor: pointer;
}

.without-cursor {
    opacity: 0.5;
}

@media (max-width: 768px) {

  .banner-wrapper {
    background-color: transparent;
    padding: 15px 15px;

    .img {
      height: 100%;
    }

    .banner-list {
      & > li  {
        font-size: 15px;
      }
    }

    h1 {
      font-size: 20px;
    }

    & > div {
      padding: 0 0;

      & > div {
        padding: 0 0;
      }
    }
  }

}
