<app-header></app-header>
<app-banner *ngIf="getWindowWidth() > 768"  [img]="'contact-us.jpg'" [header]="'Contact Us'" [subHeader]="'Contact Us'"></app-banner>
<app-banner *ngIf="getWindowWidth() < 768" [img]="'../../../assets/img/banner/mob/contact-us.jpg'" [header]="'Contact Us'" [subHeader]="'Contact Us'"></app-banner>

<div class="container contact-wrapper">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h3>Get In Touch</h3>
            <div class="contact-table">
                <table>
                    <tr>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" fill="#0079ad">
                                <g>
                                    <g>
                                        <path d="M467,61H45C20.218,61,0,81.196,0,106v300c0,24.72,20.128,45,45,45h422c24.72,0,45-20.128,45-45V106  C512,81.28,491.872,61,467,61z M460.786,91L256.954,294.833L51.359,91H460.786z M30,399.788V112.069l144.479,143.24L30,399.788z     M51.213,421l144.57-144.57l50.657,50.222c5.864,5.814,15.327,5.795,21.167-0.046L317,277.213L460.787,421H51.213z M482,399.787    L338.213,256L482,112.212V399.787z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>
                        </td>
                        <td>
                            <a href="mailto: marketing@esenpro.com">marketing@esenpro.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 503.604 503.604" style="enable-background:new 0 0 503.604 503.604;" xml:space="preserve" fill="#0079ad">
                                <g>
                                    <g>
                                        <path d="M337.324,0H167.192c-28.924,0-53.5,23.584-53.5,52.5v398.664c0,28.916,24.056,52.44,52.98,52.44l170.412-0.184    c28.92,0,52.58-23.528,52.58-52.448l0.248-398.5C389.908,23.452,366.364,0,337.324,0z M227.68,31.476h49.36    c4.336,0,7.868,3.52,7.868,7.868c0,4.348-3.532,7.868-7.868,7.868h-49.36c-4.348,0-7.868-3.52-7.868-7.868    C219.812,34.996,223.332,31.476,227.68,31.476z M198.02,33.98c2.916-2.912,8.224-2.952,11.136,0c1.46,1.456,2.324,3.5,2.324,5.588    c0,2.048-0.864,4.088-2.324,5.548c-1.452,1.46-3.504,2.32-5.548,2.32c-2.084,0-4.088-0.86-5.588-2.32    c-1.452-1.456-2.28-3.5-2.28-5.548C195.736,37.48,196.568,35.436,198.02,33.98z M250.772,488.008    c-12.984,0-23.544-10.568-23.544-23.548c0-12.984,10.56-23.548,23.544-23.548s23.544,10.564,23.544,23.548    C274.316,477.44,263.752,488.008,250.772,488.008z M365.488,424.908H141.232V74.756h224.256V424.908z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>
                        </td>
                        <td>
                            <p>
                                +91 (22) 2850 5132/ 3685/ 6471/ 2348
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" fill="#0079ad">
                                <g>
                                    <g>
                                        <path d="M256,0C161.896,0,85.333,76.563,85.333,170.667c0,28.25,7.063,56.26,20.49,81.104L246.667,506.5    c1.875,3.396,5.448,5.5,9.333,5.5s7.458-2.104,9.333-5.5l140.896-254.813c13.375-24.76,20.438-52.771,20.438-81.021    C426.667,76.563,350.104,0,256,0z M256,256c-47.052,0-85.333-38.281-85.333-85.333c0-47.052,38.281-85.333,85.333-85.333    s85.333,38.281,85.333,85.333C341.333,217.719,303.052,256,256,256z"/>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>
                        </td>
                        <td>
                            <p>
                                Esenpro House,
                                <br />
                                24 Marol Co-op Ind. Est. Ltd.,Off.M.V.Rd.,Andheri(E),
                                <br />
                                Mumbai 400 059
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
           <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

             <h3>Say Something</h3>

            <div class="form-group" [ngClass]="{'has-error': contactForm.get('name').errors && (contactForm.get('name').touched || contactForm.get('name').dirty)}">
                <input type="text" class="form-control" placeholder="Your Name..." formControlName="name" id="name" />
                <span class="help-block" *ngIf="contactForm.get('name').errors && (contactForm.get('name').touched || contactForm.get('name').dirty)">
                    <span *ngIf="contactForm.get('name').errors.required">Name is required</span>
                </span>
            </div>

            <div class="form-group" [ngClass]="{'has-error': contactForm.get('email').errors && (contactForm.get('email').touched || contactForm.get('email').dirty)}">
                <input type="email" class="form-control" placeholder="Your Email..." formControlName="email" id="email" />
                <span class="help-block" *ngIf="contactForm.get('email').errors && (contactForm.get('email').touched || contactForm.get('email').dirty)">
                    <span *ngIf="contactForm.get('email').errors.required">Email is required</span>
                    <span *ngIf="contactForm.get('email').errors.pattern">Email is invalid</span>
                </span>
            </div>

              <div class="form-group">
                <select class="form-control select-form-control" formControlName="typreRequirement" id="typeRequirement">
                  <option value="" [selected]="true" [disabled]="true">Types of Requirement</option>
                  <option *ngFor="let item of typeRequirement" [value]="item.id">{{item.text}}</option>
                </select>
              </div>

            <div class="form-group">
                <textarea class="form-control" rows="5" id="message" formControlName="message" placeholder="Write Something...."></textarea>
            </div>

            <button class="btn submit" [disabled]="contactForm.invalid">Submit</button>
            <p class="text-center thankyou" *ngIf="thankYouText"><strong>{{thankYouText}}</strong></p>
           </form>

        </div>
    </div>
</div>

<app-footer></app-footer>
