
@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/Gotham/bold/Gotham-Bold.eot'); 
  src: url('./assets/fonts/Gotham/bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'), 
       url('./assets/fonts/Gotham/bold/Gotham-Bold.woff2') format('woff2'), 
       url('./assets/fonts/Gotham/bold/Gotham-Bold.woff') format('woff'), 
       url('./assets/fonts/Gotham/bold/Gotham-Bold.ttf')  format('truetype'), 
       url('./assets/fonts/Gotham/bold/Gotham-Bold.svg#bold') format('svg'); 
  }


  @font-face {
    font-family: 'book';
    src: url('./assets/fonts/Gotham/book-regular/Gotham-Book.eot'); 
    src: url('./assets/fonts/Gotham/book-regular/Gotham-Book.eot?#iefix') format('embedded-opentype'), 
         url('./assets/fonts/Gotham/book-regular/Gotham-Book.woff2') format('woff2'), 
         url('./assets/fonts/Gotham/book-regular/Gotham-Book.woff') format('woff'), 
         url('./assets/fonts/Gotham/book-regular/Gotham-Book.ttf')  format('truetype'), 
         url('./assets/fonts/Gotham/book-regular/Gotham-Book.svg#book') format('svg'); 
    }

    @font-face {
     font-family: 'medium';
     src: url('./assets/fonts/Gotham/medium/Gotham-Medium.eot'); 
     src: url('./assets/fonts/Gotham/medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'), 
          url('./assets/fonts/Gotham/medium/Gotham-Medium.woff') format('woff'), 
          url('./assets/fonts/Gotham/medium/Gotham-Medium.ttf')  format('truetype'), 
          url('./assets/fonts/Gotham/medium/Gotham-Medium.svg#medium') format('svg'); 
     }


@font-face {
     font-family: 'robotobold';
     src: url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.eot'); 
     src: url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'), 
          url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.woff') format('woff'), 
          url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.woff2') format('woff2'), 
          url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.ttf')  format('truetype'), 
          url('./assets/fonts/roboto/Roboto-Bold/Roboto-Bold.svg#robotobold') format('svg'); 
     }


@font-face {
     font-family: 'robotoregular';
     src: url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.eot'); 
     src: url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
          url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.woff') format('woff'), 
          url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.woff2') format('woff2'), 
          url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'), 
          url('./assets/fonts/roboto/Roboto-Regular/Roboto-Regular.svg#robotoregular') format('svg'); 
     }

  



